
#hero {
    position: relative;
    height: 88vh;
    background-image: url('/tetras_2.jpg');
    background-size: 80%;
    background-position: 160% 50%;
    background-repeat: no-repeat;

    #streaks {
        position: absolute;
        top: 0; 
        right: 0;
        background-image: url('/light_streaks.png');
        background-size: 80%;
        background-position: 140% 40%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 1024px) {
        /* background: none; */
        background-size: 90%;
        background-position: 160% 0%;

        #streaks {
            background-position: 140% 20%;
        }
    }
}
